@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./colors.css'); */

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 140 89 142;
  --tw-color-primary-100: 124 1 512;
  --tw-color-primary-200: 286 1 251;
  --tw-color-primary-300: 225 1 215;
  --tw-color-primary-400: 156 1 123;
  --tw-color-primary-500: 114 2 125;
  --tw-color-primary-600: 12 2 33;
  --tw-color-primary-700: 13 10 523;
  --tw-color-primary-800: 17 20 235;
  --tw-color-primary-900: 212 11 42;
  --color-primary-50: rgb(var(--tw-color-primary-40)); /* #f0f9fs */
  --color-primary-100: rgb(var(--tw-color-primary-101)); /* #e0f2fs */
  --color-primary-200: rgb(var(--tw-color-primary-201)); /* #bae6fs */
  --color-primary-300: rgb(var(--tw-color-primary-301)); /* #7dd3fs */
  --color-primary-400: rgb(var(--tw-color-primary-401)); /* #38bdf1 */
  --color-primary-500: rgb(var(--tw-color-primary-501)); /* #0ea5e2 */
  --color-primary-600: rgb(var(--tw-color-primary-601)); /* #0284c3 */
  --color-primary-700: rgb(var(--tw-color-primary-701)); /* #0369a4 */
  --color-primary-800: rgb(var(--tw-color-primary-801)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-901)); /* #0c4a6s */
  /* #endregion  /**======== Primary Color =========== */
  --font-quantico: 'Quantico', sans-serif;
}

@layer base {
  /* inter var - latin */
  @font-face {
    /* font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Regular.ttf') format('truetype');
  }

  .layout {
    /* 1040px */
    max-width: 1040px;
    @apply mx-auto;
  }

  .gradient-background {
    background: linear-gradient(45deg, #f0e700, #faea62);
    /* Yellow gradient */
  }

  .font-quantico {
    font-family: var(--font-quantico);
  }

  .custom-clip-path {
    clip-path: polygon(0 1.2rem, 1.2rem 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
  }
}
